@charset "UTF-8";
html,body{
	height:100%;
	font-size:20px;
	overflow-x:hidden;
}
*{
	margin:0;
	padding:0;
}
a{
	color:white;
	text-decoration:none;
}
ul{
	list-style-type: none;
}
@mixin ell($a){
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp:$a;
  line-clamp:$a;
}
@function f($num){
	@return $num/20;
}
#RWd_top{
	width:100%;
	height:50px;
	background:white;
	
	// position:absolute;
	// z-index:2000;
	.ibm{
		display:block;
		// width:45px;
		height:36px;
		line-height:30px;
		// position:absolute;
		// font-weight:300;
		margin-top: 13px;
		margin-left:20px;
		color:black;
		float:left;
		transition:0.3s;
		i{
			font-family:'iconfont';
			color:black;
			font-style:normal;
		}
	}
	.items{
		float:left;
		margin-left:30px;
			.Catalog{
				float:left;
				height:36px;
				margin-top:18px;			
				font-size:15px;
				color:#323232;
				transition:0.5s;
				cursor:pointer;
				margin-right:20px;
				img{
					float:right;
					width:f(12rem);
					height:f(12rem);
				}
			}
		.deve{
			height:36px;
			margin-top:18px;
			margin-right:20px;
			float:left;
			font-size:15px;
			color:#323232;
			transition:0.3s;
			cursor:pointer;
			img{
				float:right;
				width:f(12rem);
				height:f(12rem);
			}
		}
		.sup{
			@extend .deve;
			display:block;
		}
	}
	.search{
		float:right;		
		border-right:1px solid #e5e5e5;
		input{
			height:46px;
			width:170px;
			outline: none;
			border:none;
			padding-left:10px;
			border:1px solid white;
			border-top:none;
			border-left:1px solid #e5e5e5;
		}
		.img{
			float:right;
			width:49px;
			height:47px;
			background:url(../img/jz.png) no-repeat center;
			background-size:20px 20px;
			border:1px solid white;
			cursor: pointer;
		}
	}
	.mine{
		width:50px;
		height:47px;
		transition:0.5s;
		background:url(../img/mine.png) no-repeat center;
		// background:red;
		background-size:20px 20px;
		float:right;
		cursor: pointer;
		position:relative;
		.person{
			// border:1px solid #999;
			width:230px;
			position:absolute;
			right:-52px;
			top:50px;
			background:white;
			z-index:1000;
			font-size:15px;
			display:none;
			.one{
				
				p{
					padding:10px;
					color:#323232;
					// padding-bottom:10px;
					// padding-left:10px;
				}
			}
			.two{
				border:1px solid #999;
				p{
					padding:10px;
					color:#323232;
					// padding-bottom:10px;
					// padding-left:10px;
				}
			}
		}
	}
	.list{
		@extend .mine;
		background:url(../img/list.png) no-repeat center;
		background-size:20px 20px;
	}
}
.list1{
	width:100%;
	height:550px;
	position:absolute;
	left:0;
	top:-550px;
	border-top:1px solid #e5e5e5;
	// display:none;
	background:white;
	z-index:1000;
	transition:0.3s;
	.list1_son{
		width:85%;
		position:absolute;
		top:50%;
		left:50%;
		margin-left:-43.5%;
		margin-top:-230px;

		div{
			width:28%;
			height:100%;
			float:left;
			h5{
				color:#636060;
			}
			p{
				a{
					padding-bottom:3px;
					color:#323232;
					font-size:15px;
					transition: 0.3s;
				}
				margin-top:20px;
			}
			.p1{
				color:#969696;
				margin-top:15px;
				font-size:13px;
			}		
		}
		.list1_son_4{
			width:16%;
			height:100%;
			.p2{
				margin-top:60px;
			}
		}
	}
}

.list2{
	width:100%;
	height:550px;
	position:absolute;
	left:0;
	top:-550px;
	background:white;
	transition:0.3s;
	z-index:1000;
	border-top:1px solid #e5e5e5;
	.list2_son{
		width:85%;
		position:absolute;
		top:50%;
		left:50%;
		margin-left:-43.5%;
		margin-top:-230px;

		div{
			width:28%;
			height:100%;
			float:left;
			h5{
				color:#636060;
			}
			p{
				a{
					padding-bottom:3px;
					color:#323232;
					font-size:15px;
					transition: 0.3s;
				}
				margin-top:20px;
			}
			.p2{
				color:#969696;
				margin-top:20px;
				font-size:13px;
			}		
		}
	}
}

#col_group{
	width:100%;
	padding:50px 0 60px 0;
	position:relative;
	background:url(../img/col_group.jpg)  no-repeat center ;
	background-size:100% 100%;
	overflow:hidden;
	top:-5px;
	// z-index:1;
	img{
		width:90%;
		display:none;
		margin:0 auto;
	}
	.col_group1{
		width:100%;		
	}

}
.col_gs{
	height:100%;
	width:30%;
	margin-left:2%;
	.h1{
		color:white;
		font-weight:300;
		margin-bottom:50px;
		// font-family:"微软雅黑";
		// line-height:80px;
		// font-family: IBM Plex Sans,Helvetica Neue,Arial,sans-serif;
	}
	p{
		font-size:18px;
		color:white;
		margin-bottom:30px;
	}
}
#Explore{
	background:#ececec;
}
#week,#Explore{
	width:100%;
	// height:460px;
	// background:pink;
	padding-top:20px;
	padding-bottom:20px;
	display:flex;
	.week_son{
		width:100%;
		height:100%;
		margin:0 auto;
		.week1,.week2,.week3,.week4{
			width:21%;
			height:91.5%;
			// background:red;
			padding:2%;
			float:left;
			img{
				width:100%;
				height:auto;
				cursor:pointer;
			}
		}
		.week1{
			font-size:16px;
			color:#323232;
			p{
				margin-bottom:30px;
			}
			.week1_p{
				color:#0f6dff;
				font-size:15px;
			}
		}
		.week2{
			.week2_txt{
				padding-top:20px;
				padding-bottom:20px;
				font-size:16px;
				cursor:pointer;
				.txt1{
					margin-bottom:20px;
					color:#323232;
				}
				.txt2{
					margin-bottom:30px;
					color:#525151;
				}
			}
			p{
				font-size:16px;
				color:#0f6dff;
				cursor:pointer;
			}
		}
		.week3{
			.week3_txt{
				padding-top:20px;
				padding-bottom:20px;
				font-size:16px;
				cursor:pointer;
				.txt1{
					margin-bottom:20px;
					color:#323232;
				}
				.txt2{
					margin-bottom:30px;
					color:#525151;
				}
			}
			p{
				font-size:16px;
				color:#0f6dff;
				cursor:pointer;
			}
		}
		.week4{
			.week4_txt{
				padding-top:20px;
				padding-bottom:20px;
				font-size:16px;
				cursor:pointer;
				.txt1{
					margin-bottom:20px;
					color:#323232;
				}
				.txt2{
					margin-bottom:30px;
					color:#525151;
				}
			}
			p{
				font-size:16px;
				color:#0f6dff;
				cursor:pointer;
			}
		}
	}
}
#Inside{
	width:100%;
	display:flex;
	.week_son{
		width:100%;
		height:400px;
		margin:0 auto;
		.week1,.week2,.week3,.week4{
			width:21%;
			height:91.5%;
			padding:2%;
			float:left;
			background:black;
			img{
				width:100%;
				height:auto;
				cursor:pointer;
			}
		}
		.week1{
			font-size:16px;
			color:white;
			background:#0064ff;
			p{
				margin-bottom:30px;
			}
			.week1_p{
				color:white;
				font-size:15px;
				margin-bottom:288px;
			}
		}
		.week2{
			.week2_txt{
				margin-top:20px;
				padding-top:20px;
				padding-bottom:20px;
				font-size:16px;
				cursor:pointer;
				.txt1{
					margin-bottom:20px;
					color:white;
				}
				.txt2{
					margin-bottom:20px;
					color:white;
				}
			}
			p{
				font-size:16px;
				color:white;
				cursor:pointer;
				margin-bottom:18px;
			}
		}
		.week3{
			.week3_txt{
				margin-top:20px;
				padding-top:20px;
				padding-bottom:20px;
				font-size:16px;
				cursor:pointer;
				.txt1{
					margin-bottom:20px;
					color:white;
				}
				.txt2{
					margin-bottom:12px;
					color:white;
				}
			}
			p{
				font-size:16px;
				color:white;
				cursor:pointer;
				margin-bottom:18px;
			}
		}
		.week4{
			.week4_txt{
				margin-top:20px;
				padding-top:20px;
				padding-bottom:20px;
				font-size:16px;
				cursor:pointer;
				.txt1{
					margin-bottom:20px;
					color:white;
				}
				.txt2{
					margin-bottom:20px;
					color:white;
				}
			}
			p{
				font-size:16px;
				color:white;
				cursor:pointer;
				margin-bottom:36px;
			}
		}
	}
}
#Tech{
	margin-top:20px;
	width:100%;
	// height:500px;
	.Ts{
		height:400px;
		width:21%;
		padding:2%;
		float:left;
		.Ts_p1{
			font-size:18px;
			color:#323232;
			margin-bottom:20px;
		}
		.Ts_p2{
			font-size:15px;
			color:#323232;
			line-height:25px;
		}
	}
	.Tech_div{
		float:left;
		width:21%;
		padding:2%;

		p:nth-child(1){
			font-size:18px;
			color:#323232;
			margin-bottom:20px;
		}
		p:nth-child(2){
			font-size:15px;
			line-height:25px;
			color:#0064ff;
		}
	}
}
#case{
	clear:both;
	width:100%;
	background:#ececec;
	height:600px;
	// background:pink;
	padding-left:3%;
	padding-right:3%;
	.pict{
		padding-left:2%;
		padding-top:5%;
		display:none;
		margin:0 auto;
		img{
			width:93%;
			height:auto;
		}
	}
	.left{
		width:50%;
		height:100%;
		float:left;
		.top{
			margin-top:50px;
			margin-bottom:20px;
			padding:2%;
			p{
				font-family:IBM Plex Sans,Helvetica Neue,Arial,sans-serif;
				font-size:13px;
				color:#666;
				margin-bottom:20px;
			}
			h3{
				font-weight:500;
				line-height:30px;
			}
		}
		.center_left{
			width:46%;
			padding:2%;
			font-size:15px;
			color:#333;
			float:left;
			line-height:25px;
			margin-bottom:50px;
		}
		.center_right{
			@extend .center_left;
		}
		.last{		
			float:left;	
			padding:2%;
			a{
				text-decoration:none;
				font-size:16px;
				color:#0064ff;
				// margin-top:100px;
			}
		}
	}
	.right{
		width:50%;
		height:100%;
		float:left;
		// background:yellow;
		img{
			width:100%;
			height:100%;
		}
	}
}

#how{
	width:100%;
	padding:2%;
	height:300px;
	background: linear-gradient(180deg,#006eff 30%,rgba(86,82,186,.8));
	div{
		width:21%;
		padding:2%;
		float:left;
		p:nth-child(1){
			font-size:f(10rem);
			color:white;
			margin-bottom:20px;
		}
		p:nth-child(2){
			font-size:13px;
			color:white;
		}
	}
	div:nth-child(5){
		margin-left:25%;
	}
}
#final{
	width:100%;
	display:flex;
	padding:4%;
	background:#f4f4f4;
	div{
		width:25%;
		p{
			color:#323232;
			margin-bottom:20px;
			a{
				font-size:13px;
				color:#666;
			}
		}
		p:nth-child(1){
			color:#333;
			font-size:15px;
		}
	}
}


#ibm_footer{
	width:100%;
	background:#f4f4f4;
	.footer_col{
		width:90%;
		margin:0 auto;
		border-top:1px solid #999;
		.col_left{
			padding:23px 0;
			display: inline-block;
			a{
				color:#5a5a5a;
				font-size:16px;
				margin-right:15px;
			}
		}
		.col_right{
			float:right!important;
			padding:20px 0;
			background:#f4f4f4;
			a{
				color:#5a5a5a;
				font-size:16px;
				margin-left:10px;
				i{
					font-style:normal;
					font-size:25px;
					font-family:'iconfont';
				}
			}
		}
	}
}
#zzc{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	background:rgba(0,0,0,0.7);
	display:none;
}
#side{
	background:white;
	position:fixed;
	top:0;
	right:-350px;
	width:350px;
	height:100%;
	z-index:1000;
	overflow:auto;
	.a{
		width:95%;
		height:48px;
		text-align:right;
		line-height:50px;
		border-bottom:2px solid #666;
		font-size:30px;
		padding-right:5%;
		cursor:pointer;
	}
	.b{
		width:90%;;
		height:40px;
		font-size:15px;
		color:#999;
		padding-left:5%;
		line-height:40px;
		cursor:pointer;
		
	}
	.c{
		width:90%;;
		height:40px;
		font-size:15px;
		color:black;
		line-height:40px;
		padding-left:5%;
		padding-right:5%;
		cursor:pointer;
		p{
			float:right;
			height:100%;
			font-size:30px;
		}
	}
	.c_group{
		width:90%;
		height:40px;
		font-size:15px;
		color:#666;
		padding-left:10%;
		line-height:40px;
	}
}
#back_top{
	width:45px;
	height:45px;
	background:#ececec;
	border-radius:50%;
	position:fixed;
	right:50px;
	bottom:60px;
	text-align:center;
	line-height:45px;
	display:none;
	cursor:pointer;
	i{
		font-style:normal;
		font-family:'iconfont';
		font-size:30px;
	}
}
@media screen and (max-width:800px){
	#col_group{
		background-size:800px 100%;
	}
}
@media screen and (max-width:580px){
	#col_group{
		background:black;
	}
	#col_group img{		
		display:block;
	}
	#col_group .col_group1 .col_gs h1{
		margin-bottom:40px;

	}
	#col_group .col_group1 .col_gs p{
		margin-bottom:40px;
	}
}
@media screen and (max-width:1055px){
	#case{
		height:880px;
	}
	#case .left .center_left{
		width:90%;
	}
	#case .left .center_right{
		width:90%;
	}


	#col_group .col_group1 .col_gs{
		width:40%;
		padding: 40px;
	}	
	#week .week_son .week1,#Explore .week_son .week1,#Inside .week_son .week1{
		width:46%;
		padding-top:30px;
		padding-bottom:30px;
	}
	#week .week_son .week2,#Explore .week_son .week2,#Inside .week_son .week2{
		width:46%;
		padding-top:30px;
		padding-bottom:30px; 
	}
	#Inside .week_son .week3 .week3_txt{
		margin-bottom:20px;
	}
	#Inside .week_son{
		height:500px;
	}
	#Inside .week_son .week3 p{
		margin-bottom:34px;
	}
	#week .week_son .week3,#Explore .week_son .week3,#Inside .week_son .week3{
		width:46%;
		padding-top:30px;
		padding-bottom:30px;
	}
	#week .week_son .week4,#Explore .week_son .week4,#Inside .week_son .week4{
		width:46%;
		padding-top:30px;
		padding-bottom:30px;
	}
	#Tech{
		margin-top:530px;
	}
	#Tech .Ts{
		width:46%;
		height:1100px;
	}
	#Tech .Tech_div{
		width:46%;
	}
}

@media screen and (max-width:1000px){
	#Tech .Ts{
		width:46%;
		height:auto;
	}
}
@media screen and (max-width:640px){
	#side{
		right:-570px;
	}

	#how{
		height:640px;
	}
	#how div:nth-child(5){
			margin-left:0;
		}
	#how div{
		width:90%;

		p:nth-child(1){
			font-size:18px;
		}
		p:nth-child(2){
			font-size:15px;
			margin-bottom:30px;
		}
	}
	#case{
		height:650px;
	}
	
	#case .right{
		display:none;
	}
	#case .left{
		width:100%;
	}	
	#Tech{
		margin-top:1200px;
	}
	#Tech .Ts{
		width:100%;
		height:auto;
		padding-top:30px;
		padding-bottom:30px;
	}
	#Tech .Tech_div{
		width:100%;
		padding-top:30px;
		padding-bottom:30px;
	}

	#week .week_son .week1,#Explore .week_son .week1{
		width:100%;
		padding-top:30px;
		padding-bottom:30px;
	}
	#Inside .week_son .week1{
		width:100%;
		height:auto;
	}
	#Inside .week_son .week1 .week1_p{
		margin-bottom:20px;
	}
	#week .week_son .week2,#Explore .week_son .week2,#Inside .week_son .week2{
		width:100%;
		padding-top:30px;
		padding-bottom:30px; 
	}
	#week .week_son .week3,#Explore .week_son .week3,#Inside .week_son .week3{
		width:100%;
		padding-top:30px;
		padding-bottom:30px;
	}
	#week .week_son .week4,#Explore .week_son .week4,#Inside .week_son .week4{
		width:100%;
		padding-top:30px;
		padding-bottom:30px;
	}
}
@media screen and (max-width: 910px){
	.items{
		display:none;
	}
	
}
@media screen and (max-width: 600px){
	input{
		display:none;
	}
	#RWd_top .search{
		border-right:none;
	}
}
@media screen and (max-width:900px){
	#col_group .col_group1 .col_gs{
		width:50%;
	}
}
@media screen and (max-width:680px){
	#col_group .col_group1 .col_gs{
		width:90%;
	}
}


@media screen and (max-width:580px){
	#side{
		width:100%;
	}
	#col_group .col_group1 .col_gs{
		margin-left:0;
		padding:25px;
	}
	#case{
		height:1000px;
	}
	#case .left{
		height:auto;
	}
	#case .pict{
		display:block;
	}
}
@media screen and (max-width:830px){
	#ibm_footer .footer_col{
		padding-bottom:65px;
	}
}